@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Project</h1>
    <p>Created by Vincent Yonathan 05111940000186</p>
</div>
